/*
@font-face {
    font-family:museosans100;
    src: url(https://valholl-prd.wowair.com/fonts/museo-sans/museosans-100-webfont.woff2);
}

*/
body{
    font-family: "Museo Sans";
    background: lightyellow;
}

main{
    background: lightpink;
    width: 50%;
}

.categorie{
    background: lightblue;
}

form{
    display:none;

}

article{
    background: lightgreen;
    border-radius: 10px;
}

p{
    border-radius: 20px;
}

#artikel_kop{
    display:flex;
    align-items: flex-end
}

#artikel_kop>h4{
    display:flex;
}
.verhaal_afbeelding{
    max-width: 100%;
}

#zoeken_knop{
    display: inline-block;
}
