/*
@font-face {
    font-family:museosans100;
    src: url(https://valholl-prd.wowair.com/fonts/museo-sans/museosans-100-webfont.woff2);
}

*/

#logo{
    width: 16%;
}

body{
    font-family: "Museo Sans";
    font-size: .75em;
    font-weight: 300;
    color:#2b4040;
    margin: 0em;
    overflow-wrap: break-word;
}

main{
    width: 100%;
}

.categorie{
}

form{
    display:none;

}

button{
    color:#9e1981;
    border: none;
    background-color: white;
    width: 25%;
}

h1{
    color: #2b4040;
    font-size: 2.5;
    font-weight: 100;
}

h2{
    font-size: 1.67;
    font-weight: 700;
    color: #99258d;
    margin: 0em 0em 1em 1em
}

h3{
    color: #020303;
    font-size: 1em;
    font-weight: 300px;
    padding: 0.625em 0em 0.625 0em;
    text-decoration-style: solid;

}

h4{
    margin: .6em 0em .3em .6em;
    color: #020303;
    font-size: 2em;
    font-weight: 100;
}

p{
    margin: 0em 1.125em 1.125em 1.125em;
}

article{
    background: #f9f9f9;
    margin: 0em 1em 1em 1em;
    border: .0625em solid #f1f1f1;
}
article>img{
    object-fit: cover;
    height: 24em;
    width: 100%;
}



.readinglist{
    max-width: 5%;
    margin: 1.125em 0em 0em 1.125em;
}

.heart{
    max-width: 5%;
}

small{
    color: #ffdf5d;
    margin: 0em 2em 0em 0em;
}
.verhaal_afbeelding{
    max-width: 100%;
}

#zoeken_knop{
    display: inline-block;
}
